#divCadastroShow{
    position: fixed;
    z-index: 2;

    width: 100%;
    display: flex;
    justify-content: center;

    padding: 20px 0px;
    background-color: var(--color-2);

    animation: showCadastro 1000ms 1 forwards;
    transform: translateY(-100vw);
    opacity: 0%;

}
@keyframes showCadastro {
    to{
        transform: translateY(9vh);
        opacity: 100%;
    
    }
}
#divCadastroHide{
    position: fixed;
    z-index: 2;

    width: 100%;
    display: none;
    justify-content: center;

    padding: 20px 0px;
    background-color: var(--color-2);

    animation: hideCadastro 1200ms 1 forwards;
    transform: translateY(0vw);
    /* opacity: 0%; */


}
@keyframes hideCadastro {
    to{
        transform: translateY(-100vh);
        /* opacity: 100%; */
    
    }
}
.formCadastro{
    width: 300px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    background-color: var(--color-4);

    border-radius: 5px;
}
.formCadastro h2 {
    color: var(--color-1);

    font-size: var(--title-1-size);
    font-weight: var(--title-1-weight);
    line-height: var(--title-1-height);

}